<div class="sidebar">
  <ul class="navbar-list">
    <span class="icon-bar"
      ><li><a href="#"><img src="../assets/icon/setting.png" alt="logo flowatch" width="35" height="35" style="margin-right: 10px;"/>Acceuil</a></li></span
    >
    <span class="icon-bar"
      ><li><a href="#"><img src="../assets/icon/setting.png" alt="logo flowatch" width="35" height="35" style="margin-right: 10px;"/>Localisation</a></li></span
    >
    <span class="icon-bar"
      ><li><a href="#"><img src="../assets/icon/setting.png" alt="logo flowatch" width="35" height="35" style="margin-right: 10px;"/>Compte</a></li></span
    >
    <span class="icon-bar"
    ><li><a href="#"><img src="../assets/icon/setting.png" alt="logo flowatch" width="35" height="35" style="margin-right: 10px;"/>Flotte</a></li></span
  >
    <span class="icon-bar"
      ><li><a href="#"><img src="../assets/icon/setting.png" alt="logo flowatch" width="35" height="35" style="margin-right: 10px;"/>Finance</a></li></span
    >
  
    <span class="icon-bar"
      ><li><a href="#"><img src="../assets/icon/setting.png" alt="logo flowatch" width="35" height="35" style="margin-right: 10px;"/>Messagerie</a></li></span
    >
    <span class="icon-bar"><li><a href="#"> <img src="../assets/icon/setting.png" alt="icon de parametre" width="35" height="35" style="margin-right: 10px;"/>Paramètre</a></li></span
    >
  </ul>
</div>
