<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-4 border-right" style="border: black solid 2px">
      <div class="settings-tray">
        <span>Message et Notification</span>
        <span class="settings-tray--right float-end">
          <i class="bi bi-chat-left-text-fill"></i>
          <i class="bi bi-list"></i>
        </span>
      </div>
      <div class="search-box">
        <div class="input-wrapper">
          <i class="bi bi-search"></i>
          <input
            type="text"
            placeholder="Rechercher ou démarrer une discussion"
          />
        </div>
      </div>
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/admin.png"
          alt="amis photo"
        />
        <div class="text">
          <h6>Jean Cedrick</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">Hier</span>
      </div>
      <hr />
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/user3.png"
          alt="amis photo"
        />
        <div class="text">
          <h6>Ngala Pauline</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">Hier</span>
      </div>
      <hr />
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/user4.jpg"
          alt="amis photo"
        />
        <div class="text">
          <h6>Ken Jessica</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">Hier</span>
      </div>
      <hr />
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/user5.jpg"
          alt="amis photo"
        />
        <div class="text">
          <h6>Jolie Brenda</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">Hier</span>
      </div>
      <hr />
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/user6.jpg"
          alt="amis photo"
        />
        <div class="text">
          <h6>PAN Patrick</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">Hier</span>
      </div>
      <hr />
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/user7.jpg"
          alt="amis photo"
        />
        <div class="text">
          <h6>Ken Jessica</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">Hier</span>
      </div>
      <hr />
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/user8.jpg"
          alt="amis photo"
        />
        <div class="text">
          <h6>Jean Luck Mill</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">10/04/2025</span>
      </div>
      <hr />
    </div>
    <div class="col-md-8 p-md-0" style="border: black solid 2px;border-left: none;">
      <div class="settings-tray">
        <div class="friend-drawer no-gutters friend-drawer--grey">
          <img
            src="../assets/img/face/user3.png"
            alt=""
            class="profile-image"
          />
          <div class="text">
            <h6>Ngala Pauline</h6>
            <p>Bonjour will j'ai déja envoyer...</p>
          </div>
          <span
            class="settings-tray float-right"
            style="border: black solid 2px"
          >
            <i class="bi bi-camera-video"></i>
            <i class="bi bi-telephone"></i>
          </span>
        </div>
      </div>
      <hr style="width: 100%" />
      <div class="chat-panel">
        <div class="row no-gutters">
          <div class="col-md-3">
            <div class="chat-bubble chat-bubble--left">hello Admin</div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-3 offset-md-9">
            <div class="chat-bubble chat-bubble--blue chat-bubble--right">
              Oui bonjour
            </div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-3">
            <div class="chat-bubble chat-bubble--left">hello Admin</div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-3 offset-md-9">
            <div class="chat-bubble chat-bubble--blue chat-bubble--right">
              Oui bonjour
            </div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-3">
            <div class="chat-bubble chat-bubble--left">hello Admin</div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-3 offset-md-9">
            <div class="chat-bubble chat-bubble--blue chat-bubble--right">
              Oui bonjour
            </div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-3 offset-md-9">
            <div class="chat-bubble chat-bubble--blue chat-bubble--right">
              Oui bonjour
            </div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-3 offset-md-9">
            <div class="chat-bubble chat-bubble--blue chat-bubble--right">
              Oui bonjour
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="chat-box-tray">
              <i class="bi bi-emoji-smile-fill"></i>
              <input type="text" placeholder="Message"/>
              <i class="bi bi-download" style="margin: 10px"></i>
              <i class="bi bi-send"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
