<div class="container">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="settings-tray">
        <img
          class="profile-image"
          src="../assets/img/face/admin.png"
          alt="photo profile dessin"
        />
        <span class="settings-tray--right float-end">
          <i class="bi">cached</i>
          <i class="bi bi-chat-left-text-fill"></i>
          <i class="bi bi-menu-app-fill">menu</i>
        </span>
      </div>
      <div class="search-box">
        <div class="input-wrapper">
          <i class="bi bi-search"></i>
          <input
            type="text"
            placeholder="Rechercher ou démarrer une discussion"
          />
        </div>
      </div>
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/admin.png"
          alt="amis photo"
        />
        <div class="text">
          <h6>Jean Cedrick</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">Hier</span>
      </div>
      <hr />
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/user3.png"
          alt="amis photo"
        />
        <div class="text">
          <h6>Ngala Pauline</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">Hier</span>
      </div>
      <hr />
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/user4.jpg"
          alt="amis photo"
        />
        <div class="text">
          <h6>Ken Jessica</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">Hier</span>
      </div>
      <hr />
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/user5.jpg"
          alt="amis photo"
        />
        <div class="text">
          <h6>Jolie Brenda</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">Hier</span>
      </div>
      <hr />
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/user6.jpg"
          alt="amis photo"
        />
        <div class="text">
          <h6>PAN Patrick</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">Hier</span>
      </div>
      <hr />
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/user7.jpg"
          alt="amis photo"
        />
        <div class="text">
          <h6>Ken Jessica</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">Hier</span>
      </div>
      <hr />
      <div class="friend-drawer friend-drawer--onhover">
        <img
          class="profile-image"
          src="../assets/img/face/user8.jpg"
          alt="amis photo"
        />
        <div class="text">
          <h6>Jean Luck Mill</h6>
          <p class="">Bonjour will j'ai déja envoyer..</p>
        </div>
        <span class="time small">Hier</span>
      </div>
      <hr />
    </div>
    <div class="col-md-8"></div>
  </div>
</div>
