<app-header></app-header> <app-side-bar></app-side-bar>
<div class="contenu">
  <button class="btn btn-primary mt-4">12000FCFA </button>
  <!-- start part-1 avec box -->
  <div class="parti-1">
    <!--  box-4 -->
    <div class="box-1" style="background-color: rgb(5, 40, 240)">
      <div class="vair">
        <span
          class="part-left"
          style="font-size: 40px; width: 60px; height: 58px; opacity: 60%"
        >
          <i class="bi bi-building-gear"></i>
        </span>
        <span
          class="part-right"
          style="font-size: 20px; font-weight: 800; opacity: 60%"
          >Totale</span
        >
      </div>
      <div class="plus" style="background-color: #0931fd; opacity: 100%">
        <span class="part-left">VOIR PLUS</span>
        <span class="part-right">
          <i class="bi bi-arrow-right-circle"></i>
        </span>
      </div>
    </div>
    <!--  box-5 -->
    <div class="box-1" style="background-color: rgb(16, 118, 3)">
      <div class="vair">
        <span
          class="part-left"
          style="font-size: 40px; width: 60px; height: 58px; opacity: 60%"
        >
          <i class="bi bi-currency-dollar"></i>
        </span>
        <span
          class="part-right"
          style="font-size: 20px; font-weight: 800; opacity: 60%"
          >Recettes</span
        >
      </div>
      <div class="plus" style="background-color: #0ba01a; opacity: 100%">
        <span class="part-left">VOIR PLUS</span>
        <span class="part-right">
          <i class="bi bi-arrow-right-circle"></i>
        </span>
      </div>
    </div>
    <!--  box-6 -->
    <div class="box-1" style="background-color: rgb(248, 1, 1)">
      <div class="vair">
        <span
          class="part-left"
          style="font-size: 40px; width: 60px; height: 58px; opacity: 60%"
        >
          <i class="bi bi-currency-exchange"></i>
        </span>
        <span
          class="part-right"
          style="font-size: 20px; font-weight: 800; opacity: 60%"
          >Dettes</span
        >
      </div>
      <div class="plus" style="background-color: #d94a4a; opacity: 100%">
        <span class="part-left">VOIR PLUS</span>
        <span class="part-right">
          <i class="bi bi-arrow-right-circle"></i>
        </span>
      </div>
    </div>
  </div>
  <!-- end part-1 avec box -->
</div>
